body {
  background-color: rgba(47, 53, 66, 1);
  button {
    border: none;
    background-color: transparent;
    font-size: 20px;
  }
  .mamu {
    padding: 5px 20px;
    span {
      font-size: 25px;
    }
    button {
      font-size: 25px;
    }
  }
}
